*.gem
*.rbc
.bundle
.config
.env
.rspec
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea/
*.idea
*/*.idea
# YARD artifacts
.yardoc
_yardoc
doc/
spec/dummy
log/
log/*
log/*.txt
log/post_order_to_avalara.txt
log/avalara_order.txt
log/return_authorization.txt
log/tax_svc.txt
