*.gem
*.rbc
.bundle
.config
.env
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea/
*.idea
*/*.idea
# YARD artifacts
.yardoc
_yardoc
doc/
spec/dummy
log/
/log/avalara_order.txt
/log/post_order_to_avalara.txt
/log/return_authorization.txt
/log/tax_svc.txt
