---
http_interactions:
- request:
    method: post
    uri: https://development.avalara.net/1.0/tax/cancel
    body:
      encoding: UTF-8
      string: '{"CompanyCode":"54321","DocType":"SalesInvoice","CancelCode":"DocVoided"}'
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
        "CancelTaxResult": {
        "TransactionId": 6075496893016339,
        "ResultCode": "Error",
        "Messages": [
        {
        "Summary": "DocCode is required.",
        "Details": "This value must be specified.",
        "RefersTo": "DocCode",
        "Severity": "Error",
        "Source": "Avalara.AvaTax.Services"}
        ]
        }
        }
  recorded_at: Thu, 02 Apr 2020 19:48:15 GMT
recorded_with: VCR 5.1.0
