---
http_interactions:
- request:
    method: get
    uri: https://development.avalara.net/1.0/address/validate?City=Montgomery&Country=US&Line1=915%20S%20Jackson%20St&Line2=&PostalCode=36104&Region=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
        "ResultCode": "Success",
        "Address": {
        "Line1": "915 S Jackson St",
        "City": "Montgomery",
        "Region": "AL",
        "PostalCode": "36104-5732",
        "Country": "US",
        "County": "Montgomery",
        "FipsCode": "0110151000",
        "CarrierRoute": "C037",
        "PostNet": "361045732153",
        "AddressType": "S"}
        }
  recorded_at: Thu, 02 Apr 2020 19:48:28 GMT
recorded_with: VCR 5.1.0
