---
http_interactions:
- request:
    method: get
    uri: https://development.avalara.net/1.0/address/validate?City=Montgomery&Country=US&Line1=915%20S%20Jackson%20St&Line2=&PostalCode=36104&Region=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
        "Address": {
        "County": "MONTGOMERY",
        "FipsCode": "0110151000",
        "CarrierRoute": "C037",
        "PostNet": "361045716999",
        "AddressType": "H",
        "Line1": "915 S Jackson St",
        "City": "Montgomery",
        "Region": "AL",
        "PostalCode": "36104-5716",
        "Country": "US"}
        ,
        "ResultCode": "Success"}
  recorded_at: Mon, 17 Apr 2017 21:16:02 GMT
recorded_with: VCR 3.0.3
