---
http_interactions:
- request:
    method: post
    uri: https://development.avalara.net/1.0/tax/cancel
    body:
      encoding: UTF-8
      string: '{"CompanyCode":"54321","DocType":"SalesInvoice","DocCode":"R165769234","CancelCode":"DocVoided"}'
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
        "CancelTaxResult": {
        "TransactionId": 6075496766219511,
        "ResultCode": "Error",
        "Messages": [
        {
        "Summary": "The tax document could not be found.",
        "Details": "R165769234",
        "Severity": "Error",
        "Source": "Avalara.AvaTax.Services.Tax"}
        ]
        }
        }
  recorded_at: Thu, 02 Apr 2020 19:47:57 GMT
recorded_with: VCR 5.1.0
