---
http_interactions:
- request:
    method: get
    uri: https://sandbox-rest.avatax.com/api/v2/taxrates/bypostalcode?country=US&postalCode=07801
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0367901'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0335920'
    body:
      encoding: UTF-8
      string: '{"totalRate":0.066250,"rates":[{"rate":0.066250,"name":"NJ STATE TAX","type":"State"}]}'
  recorded_at: Fri, 29 Mar 2019 15:29:49 GMT
recorded_with: VCR 4.0.0
