---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/54321/transactions/R526730450/void
    body:
      encoding: UTF-8
      string: '{"code":"DocVoided"}'
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Serverduration:
      - '00:00:00.0016361'
      Databasecalls:
      - '1'
      Databaseduration:
      - '00:00:00.0010000'
      Serviceduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"EntityNotFoundError","message":"Document not found.","target":"HttpRequest","details":[{"code":"EntityNotFoundError","number":4,"message":"Document
        not found.","description":"The Document with code ''54321:R526730450'' was
        not found.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/EntityNotFoundError","severity":"Error"}]}}'
  recorded_at: Mon, 13 Apr 2020 22:48:57 GMT
recorded_with: VCR 5.1.0
