---
http_interactions:
- request:
    method: post
    uri: https://development.avalara.net/1.0/tax/get
    body:
      encoding: UTF-8
      string: '{"DocCode":"R796350459","DocDate":"2020-04-02","Discount":"0.0","Commit":false,"DocType":"SalesOrder","Addresses":[{"AddressCode":"Orig","Line1":"915
        S Jackson St","Line2":"","City":"Montgomery","Region":"Alabama","PostalCode":"36104","Country":"United
        States"},{"AddressCode":"Dest","Line1":"915 S Jackson St","Line2":"","City":"Montgomery","Region":"Alabama","Country":"US","PostalCode":"36104"}],"Lines":[{"LineNo":"1-LI","Description":"Product
        #40 - 6244","TaxCode":"PC030000","ItemCode":"SKU-42","Qty":1,"Amount":10.0,"OriginCode":"Orig","DestinationCode":"Dest","CustomerUsageType":null,"Discounted":false,"TaxIncluded":false}],"CustomerCode":1,"CompanyCode":"54321","CustomerUsageType":null,"ExemptionNo":null,"Client":"a0o33000004FH8l","ReferenceCode":"R796350459","DetailLevel":"Tax","CurrencyCode":"USD"}'
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
        "DocCode": "R796350459",
        "DocDate": "2020-04-02",
        "Timestamp": "2020-04-02T19:47:15.0440895Z",
        "TotalAmount": "10",
        "TotalDiscount": "0",
        "TotalExemption": "0",
        "TotalTaxable": "10",
        "TotalTax": "0.4",
        "TotalTaxCalculated": "0.4",
        "TaxLines": [
        {
        "LineNo": "1-LI",
        "TaxCode": "PC030000",
        "Taxability": "true",
        "BoundaryLevel": "Address",
        "Exemption": "0",
        "Discount": "0",
        "Taxable": "10",
        "Rate": "0.040000",
        "Tax": "0.4",
        "TaxCalculated": "0.4",
        "TaxDetails": [
        {
        "Country": "US",
        "Region": "AL",
        "JurisType": "State",
        "JurisCode": "01",
        "Taxable": "10",
        "Rate": "0.040000",
        "Tax": "0.4",
        "JurisName": "ALABAMA",
        "TaxName": "AL STATE TAX"}
        ]
        }
        ]
        ,
        "TaxAddresses": [
        {
        "Address": "915 S Jackson St",
        "AddressCode": "Dest",
        "City": "Montgomery",
        "Country": "US",
        "PostalCode": "36104",
        "Region": "AL",
        "TaxRegionId": "2052799",
        "JurisCode": "0110151000"}
        ,{
        "Address": "915 S Jackson St",
        "AddressCode": "Orig",
        "City": "Montgomery",
        "Country": "US",
        "PostalCode": "36104",
        "Region": "AL",
        "TaxRegionId": "2052799",
        "JurisCode": "0110151000"}
        ]
        ,
        "TaxDate": "2020-04-02",
        "ResultCode": "Success"}
  recorded_at: Thu, 02 Apr 2020 19:47:21 GMT
[...]
