---
http_interactions:
- request:
    method: post
    uri: https://development.avalara.net/1.0/tax/get
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
        "ResultCode": "Error",
        "Messages": [
        {
        "Summary": "CustomerCode is required.",
        "Details": "This value must be specified.",
        "RefersTo": "CustomerCode",
        "Severity": "Error",
        "Source": "Avalara.AvaTax.Services"}
        ,{
        "Summary": "At least one address or LocationCode is required. Address is incomplete or invalid.",
        "RefersTo": "Addresses",
        "Severity": "Error",
        "Source": "Avalara.AvaTax.Services.Tax"}
        ,{
        "Summary": "Lines is expected to be between 1 and 15000.",
        "RefersTo": "Lines",
        "Severity": "Error",
        "Source": "Avalara.AvaTax.Services"}
        ]
        }
  recorded_at: Wed, 20 Mar 2019 17:00:49 GMT
recorded_with: VCR 4.0.0
