---
http_interactions:
- request:
    method: post
    uri: https://development.avalara.net/1.0/tax/get
    body:
      encoding: UTF-8
      string: '{"Commit":false,"CustomerCode":"1","DocDate":"2014-11-03","CompanyCode":"54321","CustomerUsageType":"","ExemptionNo":null,"Client":"a0o33000004FH8l","DocCode":"R731071205","ReferenceCode":"R731071205","DetailLevel":"Tax","DocType":"SalesOrder","Discount":"0.00","Addresses":[{"AddressCode":"9","Line1":"31
        South St","City":"Morristown","PostalCode":"07960","Country":"US"},{"AddressCode":"Dest","Line1":"73
        Glenmere Drive","Line2":"","City":"Chatham","Region":"NJ","Country":"US","PostalCode":"07928"},{"AddressCode":"Orig","Line1":"73
        Glenmere Drive","City":"Chatham","PostalCode":"07928","Country":"United States"}],"Lines":[{"LineNo":"1-LI","ItemCode":"ROR-00013","Qty":3,"Amount":62.97,"OriginCode":"9","DestinationCode":"Dest","Description":"Ruby
        on Rails Jr. Spaghetti","TaxCode":"sdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdf","Discounted":false}]}'
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
        "ResultCode": "Error",
        "Messages": [
        {
        "Summary": "Lines[0].TaxCode length must be between 0 and 25 characters.",
        "RefersTo": "Lines[0].TaxCode",
        "Severity": "Error",
        "Source": "Avalara.AvaTax.Services"}
        ]
        }
  recorded_at: Mon, 17 Apr 2017 21:07:37 GMT
recorded_with: VCR 3.0.3
