---
http_interactions:
- request:
    method: post
    uri: https://development.avalara.net/1.0/tax/get
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
        "ResultCode": "Error",
        "Messages": [
        {
        "Summary": "CustomerCode is required.",
        "Details": "This value must be specified.",
        "RefersTo": "CustomerCode",
        "Severity": "Error",
        "Source": "Avalara.AvaTax.Services"}
        ]
        }
  recorded_at: Thu, 02 Apr 2020 19:48:10 GMT
recorded_with: VCR 5.1.0
