<tbody data-hook="order_details_avalara_tax_adjustments">
  <% order.all_adjustments.avalara_tax.eligible.group_by(&:label).each do |label, adjustments| %>
  <tr class="total">
    <td><%= label %>:</td>
    <td><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></td>
  </tr>
  <% end %>
</tbody>