---
http_interactions:
- request:
    method: post
    uri: https://development.avalara.net/1.0/tax/get
    body:
      encoding: UTF-8
      string: '{"Commit":false,"CustomerCode":"1","DocDate":"2014-11-03","CompanyCode":"54321","CustomerUsageType":"","ExemptionNo":null,"Client":"a0o33000004FH8l","DocCode":"R731071205","ReferenceCode":"R731071205","DetailLevel":"Tax","DocType":"SalesOrder","Discount":"0.00","Addresses":[{"AddressCode":"9","Line1":"31
        South St","City":"Morristown","PostalCode":"07960","Country":"US"},{"AddressCode":"Dest","Line1":"73
        Glenmere Drive","Line2":"","City":"Chatham","Region":"NJ","Country":"US","PostalCode":"07928"},{"AddressCode":"Orig","Line1":"73
        Glenmere Drive","City":"Chatham","PostalCode":"07928","Country":"United States"}],"Lines":[{"LineNo":"1-LI","ItemCode":"ROR-00013","Qty":3,"Amount":62.97,"OriginCode":"9","DestinationCode":"Dest","Description":"Ruby
        on Rails Jr. Spaghetti","TaxCode":"P0000000","Discounted":false}]}'
    headers:
      Authorization:
      - Basic MTEwMDExMzA5NjoxRDEzRURBMkRDQ0M3RTRB
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
        "ResultCode": "Success",
        "DocCode": "R731071205",
        "DocDate": "2014-11-03",
        "Timestamp": "2020-04-02T19:48:14.1688718Z",
        "TotalAmount": "62.97",
        "TotalDiscount": "0",
        "TotalExemption": "62.97",
        "TotalTaxable": "0",
        "TotalTax": "0",
        "TotalTaxCalculated": "0",
        "TaxLines": [
        {
        "LineNo": "1-LI",
        "TaxCode": "P0000000",
        "Taxability": "false",
        "BoundaryLevel": "Address",
        "Exemption": "62.97",
        "Discount": "0",
        "Taxable": "0",
        "Rate": "0",
        "Tax": "0",
        "TaxCalculated": "0",
        "TaxDetails": [
        {
        "Country": "US",
        "Region": "NJ",
        "JurisType": "State",
        "JurisCode": "34",
        "Taxable": "0",
        "Rate": "0",
        "Tax": "0",
        "JurisName": "NEW JERSEY",
        "TaxName": "NJ STATE TAX"}
        ]
        }
        ]
        ,
        "TaxAddresses": [
        {
        "Address": "73 Glenmere Drive",
        "AddressCode": "Dest",
        "City": "Chatham",
        "Country": "US",
        "PostalCode": "07928",
        "Region": "NJ",
        "TaxRegionId": "2118369",
        "JurisCode": "3400000000"}
        ,{
        "Address": "31 South St",
        "AddressCode": "9",
        "City": "Morristown",
        "Country": "US",
        "PostalCode": "07960",
        "Region": "NJ",
        "TaxRegionId": "2118369",
        "JurisCode": "3400000000"}
        ]
        ,
        "TaxDate": "2014-11-03"}
  recorded_at: Thu, 02 Apr 2020 19:48:09 GMT
recorded_with: VCR 5.1.0
